{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <form action="/compare" enctype="multipart/form-data" method="post">

            <input type="file" name="file1" id="file1">
            <input type="file" name="file2" id="file2">
            <select name="algorithm">
                  <option disables value=""></option>
                  <option value="lines">Lines</option>
                  <option value="sentences">Sentences</option>
                  <option value="substrings">Substrings</option>
            </select>
            <input type="text" name = "q" placeholder="Substring Length"><br>
            <input type="submit" value="Submit">

        </form>
    </div>

{% endblock %}
